<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Shop</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>IdentityServlet</servlet-name>
		<servlet-class>com.Shop.servlet.IdentityServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.Shop.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddItemServlet</servlet-name>
		<servlet-class>com.Shop.servlet.AddItemServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.Shop.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveServlet</servlet-name>
		<servlet-class>com.Shop.servlet.RemoveServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddSubOneServlet</servlet-name>
		<servlet-class>com.Shop.servlet.AddSubOneServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ajax</servlet-name>
		<servlet-class>com.Shop.servlet.Ajax</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CountServlet</servlet-name>
		<servlet-class>com.Shop.servlet.CountServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>IdentityServlet</servlet-name>
		<url-pattern>/Shop/IdentityServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Shop/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddItemServlet</servlet-name>
		<url-pattern>/Shop/AddItemServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/Shop/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveServlet</servlet-name>
		<url-pattern>/Shop/RemoveServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddSubOneServlet</servlet-name>
		<url-pattern>/Shop/AddSubOneServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ajax</servlet-name>
		<url-pattern>/Shop/Ajax</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CountServlet</servlet-name>
		<url-pattern>/Shop/CountServlet</url-pattern>
	</servlet-mapping>
</web-app>